@media print {
    body {
      margin: 0;
      padding: 10px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 1.4;
    }
    
    .receipt {
      padding: 10px;
      width: 200px;
      margin: auto;
    }
    
    .receipt h1 {
      font-size: 100px;
      text-align: center;
      margin-top: 0;
      border: 1px solid #000;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    .receipt h1:last-child {
      margin-bottom: 0;
    }
    
    .receipt p {
      margin: 0;
    }
}